            body {
    font-size: 15px;
    line-height: 1.52;
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    padding-top: 30px;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 0px 0;
    float: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    padding-bottom: 5px;
    font-size: 20px;
}

.navbar-fixed-top ul {
    font-family: "Francois One", arial;
    text-transform: uppercase;
    color: white;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 0px;
}

.navbar-nav {
    display: inline-block;
}

@media {
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        text-align: center;
    }
    .navbar-fixed-top .navbar-brand {
        padding: 0px 0;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    #banner {
        background: url(../img/res01.jpg) no-repeat center top;
        background-size: cover;
        min-height: 630px;
    }
    .bg-color {
        background-color: RGBA(0, 0, 0, 0.61);
        min-height: 630px;
    }
    #banner h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 45px;
        color: #FFB03B;
    }
    #banner p {
        font-family: 'Open Sans', sans-serif;
        color: #fcfcfc;
        font-size: 34px;
    }
    .section-padding {
        padding: 0px 0px;
    }
    .logo-name {
        font-family: 'Open Sans', sans-serif;
        font-size: 65px;
        margin-top: 75px;
        color: #bf0707;
    }
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }
    .about {
        padding-top: 10%;
        margin-bottom: 6rem;
        padding-left: 8%;
        padding-right: 8%;
    }
    .about h3 {
        font-family: 'Francois One', sans-serif;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        font-size: 2em;
        padding: .6em 0;
        margin-right: 30px;
        margin-bottom: 30px;
        text-align: left;
    }
    .menu {
        padding-top: 6em;
        padding-right: 8%;
        padding-left: 8%;
    }
    .menu-icon {
        color: #fff;
        font-size: 30px;
        margin-top: 30px;
        cursor: pointer;
    }
    .header-h {
        color: black;
        font-size: 46px;
        font-family: 'Francois One', sans-serif;
        font-weight: 300;
    }
    .header-p {
        color: #black;
        font-size: 16px;
    }
    .msg-row {
        margin-top: 56px;
    }
    .media-body, .media-left, .media-right {
        display: table-cell;
        vertical-align: top;
    }
    .bg-13 {
        background-color: #f04e4e;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .contact-icon {
        color: #fff;
        position: absolute;
        left: 34px;
        font-size: 32px;
        margin-top: 18px;
    }
    .bg-1 {
        background-color: #fecc17;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .bg-14 {
        background-color: #ccdb38;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .dark-blue {
        color: #31364c;
        font-size: 24px;
        margin-top: 0;
    }
    .light-blue {
        color: #9699a6;
        font-size: 16px;
        margin-bottom: 1px;
    }
    .media-body {
        margin-left: 10px;
        padding-left: 13px;
    }
    .media-2 {
        margin-top: 30px;
    }
    #photo1  {
      padding-top: 3%;
    }

    .contacts-btn {
        border: black 1px color: black !important;
        width: 170px;
        height: 54px;
        border-radius: 3px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        text-transform: capitalize;
        border: 0px;
        color: #000 !important;
    }
    .logo img {
      padding-top: 10%;
    }
    .validation {
        color: red;
        display: none;
        margin: 0 0 20px;
        font-weight: 400;
        font-size: 13px;
    }
    #sendmessage {
        color: green;
        border: 1px solid green;
        display: none;
        text-align: center;
        padding: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    #errormessage {
        color: red;
        display: none;
        border: 1px solid red;
        text-align: center;
        padding: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    #sendmessage.show, #errormessage.show, .show {
        display: block;
    }
    .phone-in-talk, .hour-icon {
        font-size: 35px;
        line-height: 70px;
        color: rgb(255, 255, 255);
    }
    .heading {
        font-family: 'Satisfy', sans-serif;
        color: #FFB03B;
        font-size: 24px;
    }
    .marb-35 {
        margin-bottom: 35px;
    }
    .details-list {
        margin-top: 20px;
    }
    .details-list ul li i {
        margin-right: 10px;
        color: #ffb03b;
    }
    #about img {
        border: 5px solid rgb(255, 176, 59);
        border-radius: 2px;
    }
    #event {
        background: url('../img/res02.jpg') no-repeat;
        background-size: cover;
    }
    .left-images img {
        height: 308px;
        width: 100%;
    }
    .left-images {
        padding: 0px;
    }
    .details-text {
        border-right: 2px solid #841b2d;
    }
    .details-text {
        background-color: rgba(14, 4, 4, 0.70);
        border-right: 2px solid #A87F41;
        padding: 20px 20px 30px 30px;
        overflow: auto;
    }
    .content-holder h2 {
        color: #FFB03B;
        font-size: 32px;
        padding-bottom: 15px;
        font-family: 'Satisfy', sans-serif;
    }
    .content-holder address strong {
        color: #FFB03B;
        padding: 10px 0px;
    }
    .details-text p {
        color: #E8E8E8;
        line-height: 26px;
        letter-spacing: 1px;
        font-weight: 300;
    }
    .btn-read-more {
        background: #FFB03B;
        padding: 7px 19px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        letter-spacing: 1px;
        border-radius: 3px;
        color: #000;
        text-transform: uppercase;
        margin-top: 10px;
    }
    .btn-read-more:hover {
        color: #000;
    }
    #Container .mix {
        display: none;
    }
    .menu p {
        margin-top: 0;
        margin-bottom: 2;
        color: black;
    }
    .menu h3 {
        font-size: 100%;
        font-style:italic;
        color: black;
    }
    .menu h4 {
      color: black;
    }
    .menu #container-fluid {
        position: fixed;
    }
    .menuitems, .nav-tabs {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: "Francois One", arial;
        border: none;
        background-color: white;
        max-width: 100%;
        height: 100%;
    }
    .nav-tabs>li>a {
        color: black;
        background-color: none;
        border: none;
        border-style: none;
        }

        .footer {
            width: 100%;
            background-color: #222;
            position: relative;
            z-index: 1;
        }
        .footer a {
            color: #fff;
        }
        .footer .footer-top {
            padding-top: 9rem;
            padding-bottom: 5rem;
        }
        .footer .widget-title, .footer .widget-title a {
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 0.2rem;
            color: #999;
        }
        .footer .widget-title {
            padding-bottom: 20px;
            font-family: 'Satisfy', sans-serif;
            font-size: 44px;
            color: #FFB03B;
        }
        .footer .widget, .footer address {
            color: #999;
            text-transform: none;
            font-style: normal;
            padding-bottom: 15px;
        }
        .footer .navigation, .footer .social-list {
            float: none;
            margin-bottom: 20px;
        }
        .list-horizontal li {
            display: inline-block;
        }
        #contact {
            background-color: rgba(221, 221, 221, 0.33);
        }
        .footer .social-list a {
            font-size: 32px;
            font-weight: normal;
            color: #fff;
            text-transform: uppercase;
            margin: 0 5px;
        }
        @media (min-width: 768px) and (max-width: 980px) {
            body {
                padding-top: 30px;
                /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
            }
          @media (max width 768px) {
            logo img {
              padding-top: 15%;
            }

          }
